.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  border-radius: 20px;
  padding: 40px 35px;
  margin: 100px auto 0;
  text-align: center;
}